# Trend Detection

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import time
from datetime import date, datetime
from dateutil.relativedelta import relativedelta
import requests
import pandas_ta as ta

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120

import warnings
warnings.filterwarnings('ignore')

In [14]:
entrade_headers = {
        'authority': 'services.entrade.com.vn',
        'accept': 'application/json, text/plain, */*',
        'accept-language': 'en-US,en;q=0.9',
        'dnt': '1',
        'origin': 'https://banggia.dnse.com.vn',
        'referer': 'https://banggia.dnse.com.vn/',
        'sec-ch-ua': '"Edge";v="114", "Chromium";v="114", "Not=A?Brand";v="24"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"Windows"',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'cross-site',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36 Edg/114.0.1788.0'
    }
DNSE_DATA_HISTORY_URL = 'https://services.entrade.com.vn/chart-api/v2/ohlcs/derivative'

In [15]:
def getStockHistoryData(ticker, timestamp_from=0, timestamp_to=0):
    if timestamp_from == 0:
        three_months = date.today() + relativedelta(months=-3)
        timestamp_from = datetime.strptime(three_months.strftime("%m/%d/%Y") + ', 00:00:0', "%m/%d/%Y, %H:%M:%S")\
            .timestamp()
    if timestamp_to == 0:
        timestamp_to = datetime.strptime(date.today().strftime("%m/%d/%Y") + ', 23:59:00', "%m/%d/%Y, %H:%M:%S")\
            .timestamp()

    params = {
        "resolution": "5",
        "symbol": "VN30F1M",
        "from": int(timestamp_from),
        "to": int(timestamp_to)
    }

    x = requests.get(DNSE_DATA_HISTORY_URL, params=params, headers=entrade_headers)
    response = x.json()

    import numpy as np
    import pandas as pd

    timestamp = np.array(response['t']).astype(int)
    close = np.array(response['c']).astype(float)
    open = np.array(response['o']).astype(float)
    high = np.array(response['h']).astype(float)
    low = np.array(response['l']).astype(float)
    volume = np.array(response['v']).astype(int)

    dataset = pd.DataFrame({'Time': timestamp, 'Open': list(open), 'High': list(high), 'Low': list(low),
                            'Close': list(close), 'Volume': list(volume)},
                           columns=['Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
    return dataset
def prepareData(htd):
    if 'Time' in htd.columns:
        from datetime import datetime

        htd['DateStr'] = htd.apply(
            lambda x: datetime.fromtimestamp(x['Time']).strftime("%Y-%m-%d %H:%M:%S"), axis=1)

    htd['Date'] = pd.to_datetime(htd['DateStr'])
    # htd['Date'] = htd['Date'] + pd.DateOffset(hours=7)
    ticker_data = htd.set_index('Date')
    ticker_data.drop(columns=['Time', 'DateStr'], inplace=True)
    return ticker_data

## Load price data from DNSE

In [16]:
ticker = "VN30F1M"
htd = getStockHistoryData(ticker, 0, 0)
ticker_data = prepareData(htd)
ticker_data = ticker_data.dropna()
ticker_data

                       Open    High     Low   Close  Volume
Date
2024-04-19 09:00:00  1201.4  1201.4  1196.3  1197.9   13049
2024-04-19 09:05:00  1197.9  1199.2  1197.3  1198.2    4446
2024-04-19 09:10:00  1197.8  1198.7  1196.8  1198.0    3872
2024-04-19 09:15:00  1197.9  1198.5  1195.8  1198.0    7339
2024-04-19 09:20:00  1198.1  1200.2  1198.0  1198.8    7059
...                     ...     ...     ...     ...     ...
2024-07-19 14:15:00  1301.2  1301.6  1298.3  1299.5    9058
2024-07-19 14:20:00  1299.1  1301.8  1295.3  1301.6   12762
2024-07-19 14:25:00  1302.4  1302.6  1300.1  1302.2    8096
2024-07-19 14:30:00  1301.8  1301.8  1301.8  1301.8     163
2024-07-19 14:45:00  1297.1  1297.1  1297.1  1297.1    8053

[3213 rows x 5 columns]

In [17]:
data2 = ticker_data.copy()
data2["ema_line"] = ta.ema(data2["Close"], length=20)
data2['above_ma'] = data2.apply(lambda r: 1 if r['Close'] > r['ema_line'] else 0, axis=1)
data2['below_ma'] = data2.apply(lambda r: 1 if r['Close'] < r['ema_line'] else 0, axis=1)
data2['total_above_ma'] = data2['above_ma'].rolling(150).sum()
data2['total_below_ma'] = data2['below_ma'].rolling(150).sum()
data2['total_above_ma_1w'] = data2['above_ma'].rolling(250).sum()
data2['total_below_ma_1w'] = data2['below_ma'].rolling(250).sum()
data2['trend_3d'] = data2.apply(lambda r: 'switch' if r['total_above_ma'] == r['total_below_ma'] else ('up' if r['total_above_ma'] > r['total_below_ma'] else 'down'), axis=1)
data2['trend_1w'] = data2.apply(lambda r: 'switch' if r['total_above_ma_1w'] == r['total_below_ma_1w'] else ('up' if r['total_above_ma_1w'] > r['total_below_ma_1w'] else 'down'), axis=1)

In [18]:
data2

,Open,High,Low,Close,Volume,ema_line,above_ma,below_ma,total_above_ma,total_below_ma,total_above_ma_1w,total_below_ma_1w,trend_3d,trend_1w
Date,,,,,,,,,,,,,,
2024-04-19 09:00:00,1201.4,1201.4,1196.3,1197.9,13049,NaN,0,0,NaN,NaN,NaN,NaN,down,down
2024-04-19 09:05:00,1197.9,1199.2,1197.3,1198.2,4446,NaN,0,0,NaN,NaN,NaN,NaN,down,down
2024-04-19 09:10:00,1197.8,1198.7,1196.8,1198.0,3872,NaN,0,0,NaN,NaN,NaN,NaN,down,down
2024-04-19 09:15:00,1197.9,1198.5,1195.8,1198.0,7339,NaN,0,0,NaN,NaN,NaN,NaN,down,down
2024-04-19 09:20:00,1198.1,1200.2,1198.0,1198.8,7059,NaN,0,0,NaN,NaN,NaN,NaN,down,down
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-19 14:15:00,1301.2,1301.6,1298.3,1299.5,9058,1301.748096,0,1,60.0,90.0,116.0,134.0,down,down
2024-07-19 14:20:00,1299.1,1301.8,1295.3,1301.6,12762,1301.733992,0,1,60.0,90.0,115.0,135.0,down,down
2024-07-19 14:25:00,1302.4,1302.6,1300.1,1302.2,8096,1301.778373,1,0,60.0,90.0,115.0,135.0,down,down
2024-07-19 14:30:00,1301.8,1301.8,1301.8,1301.8,163,1301.780433,1,0,60.0,90.0,115.0,135.0,down,down
2024-07-19 14:45:00,1297.1,1297.1,1297.1,1297.1,8053,1301.334677,0,1,59.0,91.0,114.0,136.0,down,down

In [19]:
today = data2[data2.index > '2024-07-19 08:00:00']
today

,Open,High,Low,Close,Volume,ema_line,above_ma,below_ma,total_above_ma,total_below_ma,total_above_ma_1w,total_below_ma_1w,trend_3d,trend_1w
Date,,,,,,,,,,,,,,
2024-07-19 09:00:00,1304.6,1305.3,1303.3,1304.4,6590,1296.532951,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:05:00,1304.4,1305.4,1304.3,1304.4,2285,1297.282194,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:10:00,1304.4,1304.6,1303.9,1304.0,2085,1297.921985,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:15:00,1304.0,1304.7,1303.2,1303.4,3109,1298.443701,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:20:00,1303.5,1303.5,1302.3,1303.2,4233,1298.896682,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:25:00,1303.2,1309.1,1303.2,1309.0,8842,1299.858902,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:30:00,1309.2,1311.2,1308.0,1308.4,8595,1300.672340,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:35:00,1308.3,1309.8,1308.1,1308.7,3564,1301.436879,1,0,69.0,81.0,107.0,143.0,down,down
2024-07-19 09:40:00,1308.7,1309.2,1308.3,1309.0,1881,1302.157176,1,0,69.0,81.0,108.0,142.0,down,down
2024-07-19 09:45:00,1309.2,1309.2,1308.7,1308.9,1536,1302.799350,1,0,69.0,81.0,109.0,141.0,down,down
2024-07-19 09:50:00,1309.0,1309.6,1307.3,1307.7,4498,1303.266079,1,0,69.0,81.0,110.0,140.0,down,down
2024-07-19 09:55:00,1307.6,1307.7,1306.4,1307.2,3632,1303.640738,1,0,69.0,81.0,111.0,139.0,down,down
2024-07-19 10:00:00,1307.4,1308.8,1307.2,1308.1,3020,1304.065430,1,0,69.0,81.0,112.0,138.0,down,down
2024-07-19 10:05:00,1308.1,1308.6,1307.0,1307.1,2454,1304.354436,1,0,69.0,81.0,113.0,137.0,down,down
2024-07-19 10:10:00,1307.3,1307.5,1306.8,1307.0,1734,1304.606395,1,0,69.0,81.0,113.0,137.0,down,down
2024-07-19 10:15:00,1307.1,1308.8,1307.0,1308.3,2774,1304.958167,1,0,69.0,81.0,113.0,137.0,down,down
2024-07-19 10:20:00,1308.3,1308.3,1305.9,1306.1,3912,1305.066913,1,0,69.0,81.0,113.0,137.0,down,down
2024-07-19 10:25:00,1306.3,1306.4,1305.3,1305.8,3001,1305.136730,1,0,69.0,81.0,113.0,137.0,down,down
2024-07-19 10:30:00,1305.8,1307.3,1305.7,1307.0,1942,1305.314185,1,0,69.0,81.0,114.0,136.0,down,down
2024-07-19 10:35:00,1307.0,1307.1,1305.9,1306.8,1367,1305.455691,1,0,69.0,81.0,115.0,135.0,down,down
2024-07-19 10:40:00,1306.8,1306.8,1306.1,1306.1,953,1305.517054,1,0,69.0,81.0,116.0,134.0,down,down
2024-07-19 10:45:00,1306.1,1306.4,1304.0,1304.1,4603,1305.382096,0,1,68.0,82.0,116.0,134.0,down,down
2024-07-19 10:50:00,1304.2,1304.7,1303.6,1304.2,3161,1305.269516,0,1,67.0,83.0,116.0,134.0,down,down
2024-07-19 10:55:00,1304.2,1304.4,1303.3,1304.2,3803,1305.167657,0,1,66.0,84.0,116.0,134.0,down,down
2024-07-19 11:00:00,1304.3,1304.7,1303.7,1304.1,1945,1305.065975,0,1,65.0,85.0,116.0,134.0,down,down
2024-07-19 11:05:00,1304.3,1304.7,1302.7,1303.0,3176,1304.869216,0,1,64.0,86.0,116.0,134.0,down,down
2024-07-19 11:10:00,1303.0,1303.0,1301.1,1302.2,6367,1304.615005,0,1,63.0,87.0,116.0,134.0,down,down
2024-07-19 11:15:00,1302.1,1303.4,1301.6,1303.3,2809,1304.489766,0,1,62.0,88.0,116.0,134.0,down,down
2024-07-19 11:20:00,1303.2,1303.3,1301.7,1301.7,2512,1304.224074,0,1,61.0,89.0,116.0,134.0,down,down
2024-07-19 11:25:00,1301.7,1303.3,1301.2,1302.6,3528,1304.069400,0,1,60.0,90.0,116.0,134.0,down,down
2024-07-19 11:30:00,1302.5,1302.5,1302.5,1302.5,13,1303.919934,0,1,59.0,91.0,116.0,134.0,down,down
2024-07-19 13:00:00,1302.6,1303.0,1301.1,1302.3,4057,1303.765654,0,1,58.0,92.0,116.0,134.0,down,down
2024-07-19 13:05:00,1302.3,1303.1,1302.0,1302.9,3164,1303.683211,0,1,57.0,93.0,116.0,134.0,down,down
2024-07-19 13:10:00,1303.0,1303.3,1300.5,1300.7,4046,1303.399096,0,1,57.0,93.0,116.0,134.0,down,down
2024-07-19 13:15:00,1300.6,1301.7,1300.6,1300.9,3884,1303.161087,0,1,57.0,93.0,116.0,134.0,down,down
2024-07-19 13:20:00,1300.9,1301.9,1299.7,1301.9,4754,1303.040983,0,1,57.0,93.0,116.0,134.0,down,down
2024-07-19 13:25:00,1301.7,1303.4,1301.0,1303.4,4121,1303.075175,1,0,58.0,92.0,117.0,133.0,down,down
2024-07-19 13:30:00,1303.1,1303.6,1302.7,1303.0,5095,1303.068016,0,1,58.0,92.0,117.0,133.0,down,down
2024-07-19 13:35:00,1303.0,1303.1,1301.5,1301.8,3382,1302.947252,0,1,58.0,92.0,116.0,134.0,down,down
2024-07-19 13:40:00,1301.8,1301.8,1299.1,1300.2,6943,1302.685609,0,1,58.0,92.0,115.0,135.0,down,down
2024-07-19 13:45:00,1300.2,1301.7,1299.7,1300.1,3444,1302.439361,0,1,58.0,92.0,115.0,135.0,down,down
2024-07-19 13:50:00,1300.2,1302.9,1300.0,1302.9,4298,1302.483231,1,0,59.0,91.0,116.0,134.0,down,down
2024-07-19 13:55:00,1303.0,1304.7,1302.7,1303.0,8426,1302.532447,1,0,60.0,90.0,117.0,133.0,down,down
2024-07-19 14:00:00,1303.1,1303.3,1301.0,1301.9,5303,1302.472214,0,1,60.0,90.0,117.0,133.0,down,down
2024-07-19 14:05:00,1301.9,1301.9,1297.9,1298.0,10112,1302.046289,0,1,60.0,90.0,117.0,133.0,down,down
2024-07-19 14:10:00,1297.9,1302.5,1297.6,1301.4,11679,1301.984738,0,1,60.0,90.0,117.0,133.0,down,down
2024-07-19 14:15:00,1301.2,1301.6,1298.3,1299.5,9058,1301.748096,0,1,60.0,90.0,116.0,134.0,down,down
2024-07-19 14:20:00,1299.1,1301.8,1295.3,1301.6,12762,1301.733992,0,1,60.0,90.0,115.0,135.0,down,down
2024-07-19 14:25:00,1302.4,1302.6,1300.1,1302.2,8096,1301.778373,1,0,60.0,90.0,115.0,135.0,down,down
2024-07-19 14:30:00,1301.8,1301.8,1301.8,1301.8,163,1301.780433,1,0,60.0,90.0,115.0,135.0,down,down
2024-07-19 14:45:00,1297.1,1297.1,1297.1,1297.1,8053,1301.334677,0,1,59.0,91.0,114.0,136.0,down,down