# Mix ema_momentum_couple_candlesticks - Analytics

### Import Library

In [1]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [2]:
import os
from pathlib import Path
notebook_path = os.getcwd()
algo_dir = Path(notebook_path).parent.parent
csv_file = str(algo_dir) + '/vn-stock-data/VN30ps/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [3]:
data = dataset.copy()

In [4]:
data = data[data.index > '2020-11-01 00:00:00']

In [5]:
data

                       Open    High     Low   Close  Volume
Date
2020-11-02 09:00:00   900.1   900.2   899.3   900.1    1910
2020-11-02 09:05:00   900.2   900.2   898.7   899.4    1670
2020-11-02 09:10:00   899.5   900.0   899.0   899.5    1329
2020-11-02 09:15:00   899.4   899.5   898.2   898.6    1722
2020-11-02 09:20:00   898.5   898.6   896.5   898.2    2939
...                     ...     ...     ...     ...     ...
2025-02-04 14:15:00  1328.4  1330.0  1328.4  1330.0    3796
2025-02-04 14:20:00  1330.5  1331.0  1328.4  1328.9    8659
2025-02-04 14:25:00  1329.0  1329.2  1328.1  1328.5    4476
2025-02-04 14:30:00  1328.5  1328.5  1328.5  1328.5      90
2025-02-04 14:45:00  1328.5  1328.5  1328.5  1328.5    4588

[54074 rows x 5 columns]

In [6]:
def get_ema_signal(r):
    signal = ''
    if r['ema_fast_s1'] < r['ema_low_s1'] and r['ema_fast'] > r['ema_low']:
        signal = 'long'
    elif r['ema_fast_s1'] > r['ema_low_s1'] and r['ema_fast'] < r['ema_low']:
        signal = 'short'
    return signal

In [7]:
def set_condition_1(r):
    cond = ''
    if r['Open'] > r['Close'] >= r['Low'] + 0.1:
        # Do va co bong nen duoi
        cond = 'short'
    elif r['Open'] < r['Close'] <= r['High'] - 0.1:
        # Xanh va co bong nen tren
        cond = 'long'
    return cond


def set_condition_2(r):
    cond = ''
    if r['Open'] > r['Close'] == r['Low'] and r['Low'] < r['low_s1']:
        # Do va khong co bong nen duoi
        cond = 'short'
    elif r['Open'] < r['Close'] == r['High'] and r['High'] > r['high_s1']:
        # Xanh va khong co bong nen tren
        cond = 'long'
    return cond
    

def get_couple_candleticks_signal(r):
    signal = ''
    if r['condition_1'] == 'short' and r['condition_2'] == 'short':
        signal = 'short'
    elif r['condition_1'] == 'long' and r['condition_2'] == 'long':
        signal = 'long'
    return signal

In [8]:
def cal_signal(row):
    signal = ''
    if not row['first_close']:
        return signal
    if row['Close'] - row['prev_low'] > 21 or row['prev_high'] - row['Close'] > 21:
        return signal
    if row['mom_y'] > 0.26 and row['body_rate'] > .65:
        signal = 'long'
    elif row['mom_y'] < -.18 and row['body_rate'] < -.39:
        signal = 'short'
    return signal


def cal_first_close(tick):
    tick = tick[100 * tick.index.hour + tick.index.minute == 915]
    if not tick.empty:
        return tick[0]


def cal_high_before(tick):
    tick = tick[100 * tick.index.hour + tick.index.minute < 1345]
    return tick.max()


def cal_low_before(tick):
    tick = tick[100 * tick.index.hour + tick.index.minute < 1355]
    return tick.min()


def cal_last(tick):
    tick = tick[100 * tick.index.hour + tick.index.minute == 1445]
    if not tick.empty:
        return tick[0]

def cal_price(tick):
    tick = tick[100 * tick.index.hour + tick.index.minute == 1355]
    if not tick.empty:
        return tick[0]
        
def get_day_data(htd):
    data_tmp = htd.copy()
    data_tmp['first_close'] = data_tmp.Close
    data_tmp['_2pm_price'] = data_tmp.Close
    data_tmp['_last'] = data_tmp.Close
    data_tmp['prev_high'] = data_tmp.High
    data_tmp['prev_low'] = data_tmp.Low
    day_data = data_tmp.resample("D").agg({
        'first_close': cal_first_close,
        'prev_high': cal_high_before,
        'prev_low': cal_low_before,
        '_2pm_price': cal_price,
        '_last': cal_last
    }).rename(columns={'_last': 'day_Close'})
    day_data.dropna(subset=['day_Close'], inplace=True)
    day_data['prev_day_Close'] = day_data['day_Close'].shift(1)
    day_data.drop(columns=['day_Close'], inplace=True)
    return day_data[['prev_day_Close', 'first_close', 'prev_high', 'prev_low']]

def add_momentum_signal(data):
    clone_data = data.copy()
    day_data = get_day_data(clone_data)
    clone_data = clone_data.assign(time_d=pd.PeriodIndex(clone_data.index, freq='1D').to_timestamp())
    df_merged = pd.merge(clone_data, day_data, left_on="time_d", right_index=True, how="left")
    # df_merged = clone_data.merge(day_data, how='left', left_index=True, right_index=True)
    df_merged['mom_y'] = df_merged.apply(lambda r: 100 * (r['Close'] - r['prev_day_Close']) / r['prev_day_Close'] if r['first_close'] else 0, axis=1)
    df_merged['body_rate'] = df_merged.apply(lambda r: (r['Close'] - r['first_close']) / (r['prev_high'] - r['prev_low']) if r['first_close'] else 0, axis=1)
    df_merged['momentum_signal'] = df_merged.apply(lambda r: cal_signal(r), axis=1)
    df_merged.loc[100 * df_merged.index.hour + df_merged.index.minute != 1355, 'momentum_signal'] = ''
    return df_merged

In [9]:
def prepare_data(data):
    data["current"] = data.index + pd.DateOffset(minutes=5)
    # EMA signal
    data['max_in_range'] = data['High'].rolling(10).max()
    data['min_in_range'] = data['Low'].rolling(10).min()
    data["ema_fast"] = ta.ema(data["Close"], length=20)
    data["ema_low"] = ta.ema(data["Close"], length=250)
    data['ema_fast_s1'] = data['ema_fast'].shift(1)
    data['ema_low_s1'] = data['ema_low'].shift(1)
    data['ema_signal'] = data.apply(lambda r: get_ema_signal(r), axis=1)
    # Couple candlesticks signal
    data['low_s1'] = data['Low'].shift(1)
    data['high_s1'] = data['High'].shift(1)
    data['max_5'] = data['High'].rolling(5).max()
    data['min_5'] = data['Low'].rolling(5).min()
    data['condition_1'] = data.apply(lambda r: set_condition_1(r), axis=1)
    data['condition_1'] = data['condition_1'].shift(1)
    data['condition_2'] = data.apply(lambda r: set_condition_2(r), axis=1)
    data['couple_cs_signal'] = data.apply(lambda r: get_couple_candleticks_signal(r), axis=1)
    # Momentum signal
    data = add_momentum_signal(data)
    # Optimnize
    data['RSI'] = ta.rsi(data["Close"], length=14)
    data['body'] = data.apply(lambda r: abs(r['Close'] - r['Open']), axis=1)
    data['ibs'] = data.apply(lambda x: (-10 if (x["High"] == x["Low"]) else 10 * (x["Close"] - x["Low"]) / (x["High"] - x["Low"])), axis=1)
    data["vol_20_mean"] = data["Volume"].rolling(20).mean()
    return data

In [10]:
prepared_data = prepare_data(data)
prepared_data.dropna(subset=['Close'],inplace=True)

In [11]:
prepared_data

,Open,High,Low,Close,Volume,current,max_in_range,min_in_range,ema_fast,ema_low,...,first_close,prev_high,prev_low,mom_y,body_rate,momentum_signal,RSI,body,ibs,vol_20_mean
Date,,,,,,,,,,,,,,,,,,,,,
2020-11-02 09:00:00,900.1,900.2,899.3,900.1,1910,2020-11-02 09:05:00,NaN,NaN,NaN,NaN,...,898.6,901.5,895.4,NaN,0.245902,,NaN,0.0,8.888889,NaN
2020-11-02 09:05:00,900.2,900.2,898.7,899.4,1670,2020-11-02 09:10:00,NaN,NaN,NaN,NaN,...,898.6,901.5,895.4,NaN,0.131148,,NaN,0.8,4.666667,NaN
2020-11-02 09:10:00,899.5,900.0,899.0,899.5,1329,2020-11-02 09:15:00,NaN,NaN,NaN,NaN,...,898.6,901.5,895.4,NaN,0.147541,,NaN,0.0,5.000000,NaN
2020-11-02 09:15:00,899.4,899.5,898.2,898.6,1722,2020-11-02 09:20:00,NaN,NaN,NaN,NaN,...,898.6,901.5,895.4,NaN,0.000000,,NaN,0.8,3.076923,NaN
2020-11-02 09:20:00,898.5,898.6,896.5,898.2,2939,2020-11-02 09:25:00,NaN,NaN,NaN,NaN,...,898.6,901.5,895.4,NaN,-0.065574,,NaN,0.3,8.095238,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-04 14:15:00,1328.4,1330.0,1328.4,1330.0,3796,2025-02-04 14:20:00,1330.0,1326.2,1327.355896,1326.158624,...,1322.7,1329.5,1320.6,0.910470,0.820225,,62.556377,1.6,10.000000,3038.50
2025-02-04 14:20:00,1330.5,1331.0,1328.4,1328.9,8659,2025-02-04 14:25:00,1331.0,1326.2,1327.502953,1326.180468,...,1322.7,1329.5,1320.6,0.827011,0.696629,,57.659572,1.6,1.923077,3386.00
2025-02-04 14:25:00,1329.0,1329.2,1328.1,1328.5,4476,2025-02-04 14:30:00,1331.0,1326.6,1327.597910,1326.198950,...,1322.7,1329.5,1320.6,0.796662,0.651685,,55.944622,0.5,3.636364,3495.25
2025-02-04 14:30:00,1328.5,1328.5,1328.5,1328.5,90,2025-02-04 14:35:00,1331.0,1326.6,1327.683824,1326.217285,...,1322.7,1329.5,1320.6,0.796662,0.651685,,55.944622,0.0,-10.000000,3354.80
2025-02-04 14:45:00,1328.5,1328.5,1328.5,1328.5,4588,2025-02-04 14:50:00,1331.0,1326.9,1327.761555,1326.235474,...,1322.7,1329.5,1320.6,0.796662,0.651685,,55.944622,0.0,-10.000000,3583.40

In [20]:
prepared_data[(prepared_data.ema_signal != '') & (prepared_data.couple_cs_signal != '')][['ema_signal', 'couple_cs_signal']]

                    ema_signal couple_cs_signal
Date
2020-11-11 14:10:00      short            short
2021-03-01 09:10:00       long             long
2021-03-04 11:10:00      short            short
2021-03-29 14:20:00       long             long
2021-04-22 14:15:00      short            short
2021-05-18 13:50:00       long             long
2021-07-28 10:50:00      short            short
2021-08-20 10:05:00      short            short
2021-08-31 14:30:00       long             long
2021-09-27 13:35:00      short            short
2021-11-30 13:55:00      short            short
2021-12-17 14:30:00       long            short
2021-12-22 11:20:00      short            short
2022-01-13 09:25:00       long            short
2022-05-18 09:50:00       long             long
2022-05-23 10:25:00      short            short
2022-07-05 14:15:00      short            short
2022-10-18 09:05:00       long             long
2022-10-27 10:20:00       long            short
2023-08-04 10:50:00       long             long
2023-10-17 11:25:00       long             long
2023-11-30 14:30:00      short            short
2024-01-30 14:25:00       long             long
2024-07-30 11:20:00       long             long