# ATR breakount - Analytics

### Import Library

In [17]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [18]:
import os
from pathlib import Path
notebook_path = os.getcwd()
algo_dir = Path(notebook_path).parent.parent
csv_file = str(algo_dir) + '/vn-stock-data/VN30ps/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [19]:
data = dataset.copy()

In [20]:
EMA_LENGTH = 5
RSI_LENGTH = 20
# Calculate the EMA of Close
data["EMA_1"] = ta.ema(data['Close'], length=EMA_LENGTH)
# Calculate the EMA of EMA_1
data['EMA_2'] = ta.ema(data['EMA_1'], length=EMA_LENGTH)
# Calculate the EMA of EMA_2
data['EMA_3'] = ta.ema(data['EMA_2'], length=EMA_LENGTH)
data["RSI"] = ta.rsi(data["Close"], length=RSI_LENGTH)
def cal_tema(row):
    #TEMA = (3 x EMA1) – (3 x EMA2) + (EMA3)
    return (3*row['EMA_1']) - (3*row['EMA_2']) + row['EMA_3']
    
# Calculate the TEMA
data['TEMA'] = data.apply(lambda r: cal_tema(r), axis=1)
data.dropna(inplace=True)

In [21]:
data

,Open,High,Low,Close,Volume,EMA_1,EMA_2,EMA_3,RSI,TEMA
Date,,,,,,,,,,
2018-08-13 10:40:00,944.9,945.0,943.7,943.7,936,944.198319,944.456185,944.643842,48.074608,943.870246
2018-08-13 10:45:00,943.5,943.5,942.9,943.5,1793,943.965546,944.292639,944.526774,46.799059,943.545497
2018-08-13 10:50:00,943.6,943.8,942.3,943.2,1541,943.710364,944.098547,944.384032,44.917307,943.219483
2018-08-13 10:55:00,943.2,944.1,942.7,943.7,1236,943.706909,943.968001,944.245355,48.546932,943.462080
2018-08-13 11:00:00,943.7,944.2,943.3,944.2,1477,943.871273,943.935758,944.142156,51.884342,943.948700
...,...,...,...,...,...,...,...,...,...,...
2024-08-02 14:15:00,1271.4,1276.8,1270.7,1274.7,14456,1270.345649,1266.978384,1264.553197,64.614686,1274.654993
2024-08-02 14:20:00,1274.6,1277.5,1274.5,1276.8,10914,1272.497100,1268.817956,1265.974783,67.090099,1277.012214
2024-08-02 14:25:00,1276.4,1277.4,1274.0,1276.5,11681,1273.831400,1270.489104,1267.479557,66.391679,1277.506444
2024-08-02 14:30:00,1276.4,1276.4,1276.4,1276.4,116,1274.687600,1271.888602,1268.949239,66.150053,1277.346231
2024-08-02 14:45:00,1275.9,1275.9,1275.9,1275.9,7162,1275.091733,1272.956313,1270.284930,64.906780,1276.691191

### Calculate signal

In [22]:
#https://www.quantifiedstrategies.com/profitable-tema-trading-strategy/
#Go long when TEMA(5) > Closing Price and RSI(21) < 35%, hold the position until TEMA(5) < Closing Price and RSI(21) > 65%,
#Go short when TEMA(5) < Closing Price and RSI(21) > 65%, and hold the position until TEMA(5) > Closing Price and RSI(21) < 35%.
def cal_signal(row):
    signal = ''
    if row['TEMA'] > row['Close'] and row['RSI'] < 35:
        signal = 'long'
    elif row['TEMA'] < row['Close'] and row['RSI'] > 65:
        signal = 'short'
    return signal
data['signal'] = data.apply(lambda r: cal_signal(r), axis=1)

In [23]:
data

,Open,High,Low,Close,Volume,EMA_1,EMA_2,EMA_3,RSI,TEMA,signal
Date,,,,,,,,,,,
2018-08-13 10:40:00,944.9,945.0,943.7,943.7,936,944.198319,944.456185,944.643842,48.074608,943.870246,
2018-08-13 10:45:00,943.5,943.5,942.9,943.5,1793,943.965546,944.292639,944.526774,46.799059,943.545497,
2018-08-13 10:50:00,943.6,943.8,942.3,943.2,1541,943.710364,944.098547,944.384032,44.917307,943.219483,
2018-08-13 10:55:00,943.2,944.1,942.7,943.7,1236,943.706909,943.968001,944.245355,48.546932,943.462080,
2018-08-13 11:00:00,943.7,944.2,943.3,944.2,1477,943.871273,943.935758,944.142156,51.884342,943.948700,
...,...,...,...,...,...,...,...,...,...,...,...
2024-08-02 14:15:00,1271.4,1276.8,1270.7,1274.7,14456,1270.345649,1266.978384,1264.553197,64.614686,1274.654993,
2024-08-02 14:20:00,1274.6,1277.5,1274.5,1276.8,10914,1272.497100,1268.817956,1265.974783,67.090099,1277.012214,
2024-08-02 14:25:00,1276.4,1277.4,1274.0,1276.5,11681,1273.831400,1270.489104,1267.479557,66.391679,1277.506444,
2024-08-02 14:30:00,1276.4,1276.4,1276.4,1276.4,116,1274.687600,1271.888602,1268.949239,66.150053,1277.346231,
2024-08-02 14:45:00,1275.9,1275.9,1275.9,1275.9,7162,1275.091733,1272.956313,1270.284930,64.906780,1276.691191,

In [24]:
from cal_return_v1 import cal_return
data = cal_return(data)
data

,Open,High,Low,Close,Volume,EMA_1,EMA_2,EMA_3,RSI,TEMA,signal,return,exit_time
Date,,,,,,,,,,,,,
2018-08-13 10:40:00,944.9,945.0,943.7,943.7,936,944.198319,944.456185,944.643842,48.074608,943.870246,,,
2018-08-13 10:45:00,943.5,943.5,942.9,943.5,1793,943.965546,944.292639,944.526774,46.799059,943.545497,,,
2018-08-13 10:50:00,943.6,943.8,942.3,943.2,1541,943.710364,944.098547,944.384032,44.917307,943.219483,,,
2018-08-13 10:55:00,943.2,944.1,942.7,943.7,1236,943.706909,943.968001,944.245355,48.546932,943.462080,,,
2018-08-13 11:00:00,943.7,944.2,943.3,944.2,1477,943.871273,943.935758,944.142156,51.884342,943.948700,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-02 14:15:00,1271.4,1276.8,1270.7,1274.7,14456,1270.345649,1266.978384,1264.553197,64.614686,1274.654993,,,
2024-08-02 14:20:00,1274.6,1277.5,1274.5,1276.8,10914,1272.497100,1268.817956,1265.974783,67.090099,1277.012214,,,
2024-08-02 14:25:00,1276.4,1277.4,1274.0,1276.5,11681,1273.831400,1270.489104,1267.479557,66.391679,1277.506444,,,
2024-08-02 14:30:00,1276.4,1276.4,1276.4,1276.4,116,1274.687600,1271.888602,1268.949239,66.150053,1277.346231,,,
2024-08-02 14:45:00,1275.9,1275.9,1275.9,1275.9,7162,1275.091733,1272.956313,1270.284930,64.906780,1276.691191,,,

In [25]:
has_return = data[data['return'] != '']

In [26]:
has_return['return'].sum()

-1576.1000000000008

In [27]:
len(has_return['return'])

7214

In [28]:
data[data.index > '2024-08-02 02:45:00']

,Open,High,Low,Close,Volume,EMA_1,EMA_2,EMA_3,RSI,TEMA,signal,return,exit_time
Date,,,,,,,,,,,,,
2024-08-02 09:00:00,1266.2,1266.7,1263.4,1264.6,11321,1272.912057,1276.944248,1279.921072,21.020762,1267.824500,long,,
2024-08-02 09:05:00,1264.3,1265.9,1264.3,1265.6,2145,1270.474705,1274.787734,1278.209959,22.844397,1265.270873,,,
2024-08-02 09:10:00,1265.5,1265.6,1264.6,1264.7,1777,1268.549803,1272.708424,1276.376114,22.355377,1263.900253,,,
2024-08-02 09:15:00,1264.8,1264.9,1263.2,1263.2,4721,1266.766536,1270.727794,1274.493341,21.546203,1262.609565,,,
2024-08-02 09:20:00,1263.4,1266.0,1262.3,1266.0,7022,1266.511024,1269.322204,1272.769628,26.755490,1264.336087,,,
2024-08-02 09:25:00,1266.0,1267.3,1264.7,1265.4,5954,1266.140682,1268.261697,1271.266985,26.360677,1264.903941,,,
2024-08-02 09:30:00,1265.5,1266.1,1264.3,1264.4,2505,1265.560455,1267.361283,1269.965084,25.695467,1264.562600,long,-3,2024-08-02 10:50:00
2024-08-02 09:35:00,1264.4,1264.8,1263.5,1263.5,2811,1264.873637,1266.532067,1268.820745,25.095513,1263.845453,long,-3,2024-08-02 10:50:00
2024-08-02 09:40:00,1263.6,1264.4,1263.5,1264.1,2060,1264.615758,1265.893298,1267.844929,26.303037,1264.012310,,,
2024-08-02 09:45:00,1264.2,1265.5,1264.2,1264.9,2715,1264.710505,1265.499033,1267.062964,27.933594,1264.697379,,,
2024-08-02 09:50:00,1265.0,1265.3,1264.1,1264.6,1774,1264.673670,1265.223912,1266.449947,27.691745,1264.799220,long,-3,2024-08-02 10:50:00
2024-08-02 09:55:00,1264.6,1265.4,1264.3,1264.7,2224,1264.682447,1265.043424,1265.981106,27.910745,1264.898175,long,-3,2024-08-02 10:50:00
2024-08-02 10:00:00,1264.6,1265.5,1264.5,1265.3,1392,1264.888298,1264.991715,1265.651309,29.263828,1265.341057,long,-3,2024-08-02 10:50:00
2024-08-02 10:05:00,1265.2,1265.5,1264.8,1265.1,1690,1264.958865,1264.980765,1265.427794,29.072363,1265.362094,long,-3,2024-08-02 10:50:00
2024-08-02 10:10:00,1264.9,1266.1,1264.8,1266.1,2771,1265.339243,1265.100258,1265.318616,31.433477,1266.035572,,,
2024-08-02 10:15:00,1266.0,1266.7,1265.9,1266.2,3378,1265.626162,1265.275559,1265.304263,31.672903,1266.356072,long,-3,2024-08-02 10:50:00
2024-08-02 10:20:00,1266.2,1266.4,1265.9,1265.9,1332,1265.717442,1265.422853,1265.343793,31.327456,1266.227558,long,-3,2024-08-02 10:50:00
2024-08-02 10:25:00,1265.8,1266.3,1265.5,1265.7,1703,1265.711628,1265.519112,1265.402233,31.089502,1265.979781,long,-3,2024-08-02 10:50:00
2024-08-02 10:30:00,1265.9,1265.9,1265.0,1265.3,1706,1265.574418,1265.537547,1265.447338,30.600177,1265.557951,long,-3,2024-08-02 10:50:00
2024-08-02 10:35:00,1265.2,1265.8,1264.7,1265.4,1788,1265.516279,1265.530458,1265.475044,30.886439,1265.432508,long,-3,2024-08-02 10:50:00
2024-08-02 10:40:00,1265.3,1265.4,1263.9,1264.0,2892,1265.010853,1265.357256,1265.435782,29.116536,1264.396571,long,-3,2024-08-02 10:50:00
2024-08-02 10:45:00,1264.0,1264.3,1263.4,1263.7,2917,1264.573902,1265.096138,1265.322567,28.744990,1263.755858,long,-3,2024-08-02 10:50:00
2024-08-02 10:50:00,1263.8,1263.8,1259.2,1261.0,12587,1263.382601,1264.524959,1265.056698,25.644778,1261.629624,long,-3,2024-08-02 11:10:00
2024-08-02 10:55:00,1261.1,1262.3,1260.4,1261.7,4133,1262.821734,1263.957217,1264.690204,27.770728,1261.283754,,,
2024-08-02 11:00:00,1261.3,1262.0,1260.8,1261.3,2308,1262.314489,1263.409641,1264.263350,27.301200,1260.977894,,,
2024-08-02 11:05:00,1261.3,1261.3,1258.2,1259.1,6273,1261.242993,1262.687425,1263.738042,24.867098,1259.404745,long,9,2024-08-02 14:00:00
2024-08-02 11:10:00,1259.2,1260.0,1256.3,1259.7,7626,1260.728662,1262.034504,1263.170196,26.742162,1259.252669,,,
2024-08-02 11:15:00,1259.7,1261.0,1259.7,1260.8,4798,1260.752441,1261.607150,1262.649181,30.108280,1260.085055,,,
2024-08-02 11:20:00,1260.7,1261.1,1260.0,1260.5,2852,1260.668294,1261.294198,1262.197520,29.716291,1260.319808,,,
2024-08-02 11:25:00,1260.6,1262.5,1260.0,1262.5,2867,1261.278863,1261.289086,1261.894709,35.600108,1261.864038,,,
2024-08-02 11:30:00,1262.7,1262.9,1262.7,1262.9,289,1261.819242,1261.465805,1261.751741,36.715451,1262.812052,,,
2024-08-02 13:00:00,1262.1,1262.5,1259.6,1260.6,5694,1261.412828,1261.448146,1261.650542,33.231895,1261.544589,long,9,2024-08-02 14:00:00
2024-08-02 13:05:00,1260.6,1261.9,1259.2,1261.4,3003,1261.408552,1261.434948,1261.578678,35.473458,1261.499490,,,
2024-08-02 13:10:00,1261.5,1262.2,1261.0,1261.6,2733,1261.472368,1261.447421,1261.534925,36.038546,1261.609766,,,
2024-08-02 13:15:00,1261.8,1263.7,1261.6,1263.3,4788,1262.081579,1261.658807,1261.576219,40.686155,1262.844534,,,
2024-08-02 13:20:00,1263.4,1263.7,1261.2,1261.2,4921,1261.787719,1261.701778,1261.618072,37.173826,1261.875896,,,
2024-08-02 13:25:00,1261.0,1261.3,1259.0,1260.1,6467,1261.225146,1261.542901,1261.593015,35.484783,1260.639752,,,
2024-08-02 13:30:00,1260.1,1260.7,1258.2,1260.5,5446,1260.983431,1261.356411,1261.514147,36.587644,1260.395207,,,
2024-08-02 13:35:00,1260.3,1260.8,1259.2,1260.8,3623,1260.922287,1261.211703,1261.413332,37.432045,1260.545085,,,
2024-08-02 13:40:00,1260.7,1260.8,1258.5,1259.3,3625,1260.381525,1260.934977,1261.253880,34.980463,1259.593524,long,9,2024-08-02 14:00:00
2024-08-02 13:45:00,1259.4,1262.4,1258.7,1261.5,6170,1260.754350,1260.874768,1261.127509,40.951122,1260.766256,,,
2024-08-02 13:50:00,1261.7,1263.3,1261.0,1262.4,6849,1261.302900,1261.017478,1261.090832,43.197298,1261.947097,,,
2024-08-02 13:55:00,1262.2,1265.0,1262.0,1263.9,8650,1262.168600,1261.401186,1261.194284,46.750905,1263.496526,,,
2024-08-02 14:00:00,1264.0,1270.1,1264.0,1269.4,17250,1264.579067,1262.460479,1261.616349,57.107741,1267.972111,,,
2024-08-02 14:05:00,1269.2,1273.4,1269.2,1270.8,22701,1266.652711,1263.857890,1262.363529,59.232319,1270.747993,,,
2024-08-02 14:10:00,1270.9,1271.6,1268.9,1271.2,12412,1268.168474,1265.294751,1263.340603,59.830725,1271.961772,,,
2024-08-02 14:15:00,1271.4,1276.8,1270.7,1274.7,14456,1270.345649,1266.978384,1264.553197,64.614686,1274.654993,,,
2024-08-02 14:20:00,1274.6,1277.5,1274.5,1276.8,10914,1272.497100,1268.817956,1265.974783,67.090099,1277.012214,,,
2024-08-02 14:25:00,1276.4,1277.4,1274.0,1276.5,11681,1273.831400,1270.489104,1267.479557,66.391679,1277.506444,,,
2024-08-02 14:30:00,1276.4,1276.4,1276.4,1276.4,116,1274.687600,1271.888602,1268.949239,66.150053,1277.346231,,,
2024-08-02 14:45:00,1275.9,1275.9,1275.9,1275.9,7162,1275.091733,1272.956313,1270.284930,64.906780,1276.691191,,,