# Volume vs EMA strategy - Backtesting

### Import Library

In [19]:
import numpy as np
import pandas as pd
import numpy as np
import time
from datetime import date, datetime
from dateutil.relativedelta import relativedelta
import requests
import pandas_ta as ta
from backtesting.backtesting import Backtest, Strategy

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')
import backtesting
backtesting.set_bokeh_output(notebook=False)

### Load Price Data

In [20]:
USER_AGENTS = [
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36",
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36",
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41 Safari/537.36",
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_3_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41 Safari/537.36",
    "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41 Safari/537.36"
]

HEADERS = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
VNDIRECT_DATA_HISTORY_URL = 'https://dchart-api.vndirect.com.vn/dchart/history'
URL = VNDIRECT_DATA_HISTORY_URL

In [21]:
def getStockHistoryData(ticker, timestamp_from=0, timestamp_to=0):
    if timestamp_from == 0:
        three_months = date.today() + relativedelta(months=-3)
        timestamp_from = datetime.strptime(three_months.strftime("%m/%d/%Y") + ', 00:00:0', "%m/%d/%Y, %H:%M:%S")\
            .timestamp()
    if timestamp_to == 0:
        timestamp_to = datetime.strptime(date.today().strftime("%m/%d/%Y") + ', 23:59:00', "%m/%d/%Y, %H:%M:%S")\
            .timestamp()

    params = {
        "resolution": "5",
        "symbol": str(ticker),
        "from": int(timestamp_from),
        "to": int(timestamp_to)
    }

    x = requests.get(URL, params=params, headers=HEADERS)
    response = x.json()

    import numpy as np
    import pandas as pd

    timestamp = np.array(response['t']).astype(int)
    close = np.array(response['c']).astype(float)
    open = np.array(response['o']).astype(float)
    high = np.array(response['h']).astype(float)
    low = np.array(response['l']).astype(float)
    volume = np.array(response['v']).astype(int)

    dataset = pd.DataFrame({'Time': timestamp, 'Open': list(open), 'High': list(high), 'Low': list(low),
                            'Close': list(close), 'Volume': list(volume)},
                           columns=['Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
    return dataset

In [22]:
ticker = "VN30F1M"
dataset = getStockHistoryData(ticker, 0, 0)

In [23]:
data = dataset.copy()

In [24]:
data

            Time    Open    High     Low   Close  Volume
0     1717552800  1301.4  1304.2  1301.4  1304.2   12323
1     1717553100  1304.1  1304.8  1303.6  1304.0    3565
2     1717553400  1304.0  1304.4  1303.8  1304.4    1831
3     1717553700  1304.5  1305.0  1304.0  1304.2    4952
4     1717554000  1304.2  1304.6  1303.9  1304.2    1936
...          ...     ...     ...     ...     ...     ...
3275  1725504900  1317.0  1317.7  1316.8  1317.7    1870
3276  1725505200  1317.8  1318.4  1317.1  1317.4    3394
3277  1725505500  1317.0  1317.2  1316.6  1316.7    1367
3278  1725505800  1316.8  1317.5  1316.6  1317.4    1795
3279  1725506100  1317.4  1317.6  1317.2  1317.5    1632

[3280 rows x 6 columns]

In [27]:
def prepare_data(data):
    if 'Time' in data.columns:
        from datetime import datetime

        data['DateStr'] = data.apply(
            lambda x: datetime.fromtimestamp(x['Time']).strftime("%Y-%m-%d %H:%M:%S"), axis=1)

    data['Date'] = pd.to_datetime(data['DateStr'])
    data = data.set_index('Date')
    data.drop(columns=['Time', 'DateStr'], inplace=True)
    
    data['volume_20'] = data['Volume'].rolling(20).mean()
    data["ema_fast"] = ta.ema(data["Close"], length=9)
    data["ema_long"] = ta.ema(data["Close"], length=26)
    data["current"] = data.index + pd.DateOffset(minutes=5)
    data.dropna(inplace=True)
    return data

In [28]:
prepared_data = prepare_data(data)
prepared_data

,Open,High,Low,Close,Volume,volume_20,ema_fast,ema_long,current
Date,,,,,,,,,
2024-06-05 11:05:00,1302.5,1303.5,1302.3,1303.3,3238,3127.20,1304.610647,1305.907692,2024-06-05 11:10:00
2024-06-05 11:10:00,1303.0,1303.5,1302.5,1303.2,2620,2819.45,1304.328518,1305.707123,2024-06-05 11:15:00
2024-06-05 11:15:00,1303.2,1303.8,1302.1,1303.8,3321,2713.15,1304.222814,1305.565854,2024-06-05 11:20:00
2024-06-05 11:20:00,1303.7,1303.7,1302.8,1303.3,1944,2682.15,1304.038251,1305.398013,2024-06-05 11:25:00
2024-06-05 11:25:00,1303.4,1304.6,1303.3,1304.4,3106,2692.85,1304.110601,1305.324086,2024-06-05 11:30:00
...,...,...,...,...,...,...,...,...,...
2024-09-05 09:55:00,1317.0,1317.7,1316.8,1317.7,1870,3717.40,1316.629677,1314.859207,2024-09-05 10:00:00
2024-09-05 10:00:00,1317.8,1318.4,1317.1,1317.4,3394,3743.45,1316.783741,1315.047414,2024-09-05 10:05:00
2024-09-05 10:05:00,1317.0,1317.2,1316.6,1316.7,1367,3559.70,1316.766993,1315.169828,2024-09-05 10:10:00
2024-09-05 10:10:00,1316.8,1317.5,1316.6,1317.4,1795,3274.80,1316.893594,1315.335026,2024-09-05 10:15:00
2024-09-05 10:15:00,1317.4,1317.6,1317.2,1317.5,1632,3074.15,1317.014876,1315.495394,2024-09-05 10:20:00

In [29]:
class VolumeVsEma(Strategy):
    def init(self):
        return

    def next(self):
        whole_data = self.data.df
        close_price = self.data.Close
        signal_data = whole_data.iloc[-1]
        current_time = signal_data['current']
        if current_time.hour == 14 and current_time.minute >= 27:
            if self.position.is_long or self.position.is_short:
                self.position.close()
            return

        if signal_data['Close'] > signal_data['Open']:
            if signal_data['Volume'] > signal_data['volume_20']:
                if self.position.is_short:
                    self.position.close()
                else:
                    self.buy()
        elif signal_data['Close'] < signal_data['Open']:
            if signal_data['Volume'] > signal_data['volume_20']:
                if self.position.is_long:
                    self.position.close()
                else:
                    self.buy()

In [30]:
bt = Backtest(prepared_data, VolumeVsEma, commission=.003, exclusive_orders=False)
stats = bt.run()

In [31]:
stats

Start                     2024-06-05 11:05:00
End                       2024-09-05 10:15:00
Duration                     91 days 23:10:00
Exposure Time [%]                   70.844854
Equity Final [$]                    3223.3089
Equity Peak [$]                       10000.0
Return [%]                         -67.766911
Buy & Hold Return [%]                1.089542
Return (Ann.) [%]                   -98.65435
Volatility (Ann.) [%]                0.174944
Sharpe Ratio                      -563.920963
Sortino Ratio                       -3.282377
Calmar Ratio                        -1.454888
Max. Drawdown [%]                  -67.808911
Avg. Drawdown [%]                  -67.808911
Max. Drawdown Duration       91 days 23:00:00
Avg. Drawdown Duration       91 days 23:00:00
# Trades                                  431
Win Rate [%]                         6.264501
Best Trade [%]                       0.990576
Worst Trade [%]                     -1.559986
Avg. Trade [%]                      -0.302859
Max. Trade Duration           0 days 04:20:00
Avg. Trade Duration           0 days 00:31:00
Profit Factor                        0.037355
Expectancy [%]                       -0.30263
SQN                                -24.686891
Kelly Criterion                     -1.635981
_strategy                         VolumeVsEma
_equity_curve                             ...
_trades                        Size  Entry...
dtype: object

In [32]:
stats['_trades']

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,PnL,ReturnPct,EntryTime,ExitTime,Tag,Duration
0,7,3,7,1307.6111,1304.3,-23.1777,-0.002532,2024-06-05 11:20:00,2024-06-05 13:05:00,None,0 days 01:45:00
1,7,9,10,1308.5138,1304.2,-30.1966,-0.003297,2024-06-05 13:15:00,2024-06-05 13:20:00,None,0 days 00:05:00
2,7,12,14,1307.7114,1302.1,-39.2798,-0.004291,2024-06-05 13:30:00,2024-06-05 13:40:00,None,0 days 00:10:00
3,7,15,16,1306.2069,1302.0,-29.4483,-0.003221,2024-06-05 13:45:00,2024-06-05 13:50:00,None,0 days 00:05:00
4,7,17,20,1308.1126,1304.0,-28.7882,-0.003144,2024-06-05 13:55:00,2024-06-05 14:10:00,None,0 days 00:15:00
...,...,...,...,...,...,...,...,...,...,...,...
426,2,3191,3193,1316.0363,1312.2,-7.6726,-0.002915,2024-09-04 09:15:00,2024-09-04 09:25:00,None,0 days 00:10:00
427,2,3212,3223,1313.4285,1310.0,-6.8570,-0.002610,2024-09-04 11:00:00,2024-09-04 13:20:00,None,0 days 02:20:00
428,2,3226,3230,1314.9330,1309.8,-10.2660,-0.003904,2024-09-04 13:35:00,2024-09-04 13:55:00,None,0 days 00:20:00
429,2,3232,3236,1314.1306,1312.7,-2.8612,-0.001089,2024-09-04 14:05:00,2024-09-04 14:25:00,None,0 days 00:20:00
430,2,3240,3254,1319.3462,1317.4,-3.8924,-0.001475,2024-09-05 09:05:00,2024-09-05 10:15:00,None,0 days 01:10:00